.result-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 20px;
    margin: 65px auto;
    border: seagreen 3px solid;
    border-radius: 10px;
    background: #EAEFF2;
}

.result-container h3 {
    color: seagreen;
    text-align: center;
    margin-bottom: 20px;
}

.result-container a {
    align-self: center;
}

.image-wrapper img  {
    height: 240px;
    width: 240px;
    border: 1px solid black;
    border-radius: 5px;
}

.result-container button {
    width: 240px;
    margin-top: 5px;
    padding: 8px;
    align-self: center;
    color: #eee;
    text-transform: uppercase;
    border: none;
    border-radius: 12px;
    background: seagreen;
    cursor: pointer;
}

.result-container button:disabled {
    background: #ccc
}